<!--
(C) David J. Kalbfleisch 2013

All rights reserved.  You are welcome to inspect this code for your education or to evaluate
the author's qualifications.  No other uses are permitted.
-->

{% extends "tcswebapp/tcs-logged-in.html" %}

{% block body %}
<h1>Edit Your Campaign</h1>

<p class="text-info">This information is public.</p>
<form method='post' action="{% url 'campaign_edit' campaign.id %}" role="form">
    {% csrf_token %}
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#menu1">Basic Information</a></li>
      <li><a data-toggle="tab" href="#menu2">Address</a></li>
    </ul>

    <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active"> <!-- Basic Information -->
            {% include "tcswebapp/bootstrap-vertical-form.html" with form=campaign_form %}
        </div> <!-- End menu1 -->
        <div id="menu2" class="tab-pane fade"> <!-- Address -->
            {% include "tcswebapp/bootstrap-vertical-form.html" with form=address_form %}
        </div> <!-- End menu2 -->
    </div> <!-- End tab-content -->
    <input type="submit" value="Update" class="btn btn-primary btn-block btn-lg">
</form>
{% endblock %}
